<%- include('./layouts/header') %>



  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
      <div class="user">
        <img src="/assets/images/user.png" alt="User Image">
        <div class="dropdown">
          <div class="dropdown-header">
            <h3>
              <%= user.name %>
            </h3>
            <p style="text-transform: capitalize;">
              <%= user.region %>
            </p>
          </div>
          <div class="dropdown-links">
            <a href="/user/profile"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; Profile</a>
            <a href="/rm/settings"><ion-icon name="settings-outline"></ion-icon> &nbsp; Settings</a>
          </div>
          <div class="dropdown-footer">
            <a href="/auth/logout">Logout</a>
          </div>
        </div>
      </div>
      <div class="button-group">
        <!--<button> <a href="/adm/expenses-data">My Expenses</a></button>-->
        <button> <a href="/rm/pre-expenses">Previous Month</a></button>

      </div>
    </div>



    
    <!-- Button to open the modal -->
    <div class="modal-btn-container">
      <button class="modal-btn">+</button>
    </div>

    <%- include('./layouts/flash-message')%>
      <!-- The Modal -->
      <div class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close-btn">&times;</span>
          <h2>Add Expense</h2><br>
          <form action="/rm/expenses" method="POST" enctype="multipart/form-data">
            <label for="region">Region:</label>
            <select id="region" name="region" required style="pointer-events: none;">
              <option value="<%= user.region %>" selected>
                <%= user.region %>
              </option>
              <option disabled>──────────</option>
              <option value="CHITTOOR">CHITTOOR</option>
              <option value="GUNTUR">GUNTUR</option>
              <option value="KURNOOL">KURNOOL</option>
              <option value="BARPETA">BARPETA</option>
              <option value="DHUBRI">DHUBRI</option>
              <option value="GAYA">GAYA</option>
              <option value="KISHANGANJ">KISHANGANJ</option>
              <option value="SITAMARHI">SITAMATHI</option>
              <option value="SRI_NAGAR">SRI_NAGAR</option>
              <option value="RANCHI">RANCHI</option>
              <option value="HAVERI">HAVERI</option>
              <option value="BHIWANDI">BHIWANDI</option>
              <option value="UDAIPUR">UDAIPUR</option>
              <option value="BAHRAICH">BAHRAICH</option>
              <option value="MORADABAD">MORADBAD</option>
              <option value="PARGANAS">24 PARGANAS</option>
              <option value="BIRBHUM">BIRBHUM</option>
              <option value="MURSHIDABAD">MURSHIDABAD</option>
              <!-- Add more options for the other regions -->
            </select>

            <label for="month">Month:</label>
            <input type="month" id="month" name="month" value="<%= (new Date()).toISOString().substring(0, 7) %>"
              required disabled>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required min="<%= getCurrentMonthStartDate() %>"
              max="<%= getCurrentMonthEndDate() %>">




            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>

            <label for="type">Type:</label>
            <select id="type" name="type" required>
              <option value="" disabled selected>Select Type</option>
              <option value="INCOME">Income</option>
              <option value="SDF">SDF</option>
              <option value="EXAM">Exam</option>
              <option value="RANGE">Range</option>
              <option value="OFFICE">Office & Assets</option>
              <option value="ART_FEST">Art Fest</option>
              <option value="TRAINING">Training</option>
              <option value="SCHOLARSHIPS">Scholarships</option>
              <option value="TLT">TLT</option>
              <option value="IR_VISITS">IR Visits</option>
              <option value="INITIATION">Initiation</option>
              <option value="AWARDS">Awards</option>
              <option value="MAHALLU">Mahallu</option>
              <option value="MADRASSA">Madrassa</option>
              <option value="OTHERS">Others</option>
            </select>

            <label for="voucherNo">Voucher No:</label>
            <input type="text" id="voucherNo" name="voucherNo" required>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <label for="billImage">Bill Image:</label>
            <input type="file" id="billImage" name="BillImage">

            <!-- <label for="comments">Comments:</label>
          <textarea id="comments" name="comments"></textarea> -->
            <br>

            <button type="submit">Add Expense</button>
          </form>
        </div>
      </div>
      <div class="expense">

        <div class="summary">
          <div class="summary-heading">Summary</div>
          <br>
          <div class="summary-amount added">
            <span class="badge">Added</span>
            ₹<%= totalAmount %>
          </div>
          <br><br>
          <div class="summary-amount verified">
            <span class="badge">Verified</span>
            ₹<%= totalVerifiedAmount %>
          </div>

          <div class="summary-month">
            <%= new Date().toLocaleString('default', { month: 'long' , year: 'numeric' }) %>
          </div>
          <a href="#">View Detailed Summary</a>
        </div>
        <div class="recentExpense">
          <div class="cardHeader">
            <h2>Expenses (<%= new Date().toLocaleString('default', { month: 'long' , year: 'numeric' }) %>)</h2>

          </div>
          <table>
            <thead>
              <tr>

                <td>Date</td>
                <td>Description</td>
                <td>Type</td>
                <td>Voucher No.</td>
                <td>Amount</td>
                <td>Bill</td>
                <td>Fcm Verification</td>
                <td>Dop Verification</td>
                <td>Adm Verification</td>
                <td>Actions</td>


              </tr>
            </thead>
            <tbody>
              <% for (let expense of expenses) { %>
                <tr>
                  <td>
                    <%= expense.date.toISOString().substring(0,10) %>
                  </td>
                  <td>
                    <%= expense.description %>
                  </td>
                  <td>
                    <%= expense.type %>
                  </td>
                  <td>
                    <%= expense.voucherNo %>
                  </td>
                  <td style="font-weight: 900; font-size:larger;">
                    <%= expense.amount %>
                  </td>
                  <td>
                    <% if (expense.BillImage) { %>
                      <a href="/uploads/bills/<%= expense.BillImage %>" target="_blank">
                        <ion-icon name="eye" alt="View"></ion-icon>
                      </a>
                      <% } else { %>
                        No Image
                        <% } %>
                  </td>
                  <td>
                    <% if (expense.verifiedByFcm) { %>
                      <span class="status verified">Verified</span>
                      <% } else { %>
                        <span class="status pending">Pending</span>
                        <% } %>
                  </td>
                  <td>
                    <% if (expense.verifiedByDop) { %>
                      <span class="status verified">Verified</span>
                      <% } else { %>
                        <span class="status pending">Pending</span>
                        <% } %>
                  </td>
                  <td>
                    <% if (expense.verifiedByAdm) { %>
                      <span class="status verified">Verified</span>
                      <% } else { %>
                        <span class="status pending">Pending</span>
                        <% } %>
                  </td>
                  <td>
                    <% if (!expense.verifiedByAdm) { %>
                      <div class="crudbtn-group">
                        <form method="POST" action="/rm/expenses/<%= expense._id %>?_method=DELETE"
                          style="display: inline;">
                          <button class="dlt" type="submit">Delete</button>
                        </form>
                      </div>
                      <% } %>
                  </td>
                </tr>
                <% } %>
            </tbody>

          </table>
        </div>
      </div>



  </div>







  <%- include('./layouts/footer') %>